---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <h1>Hi, I'm <strong>William Claude</strong></h1>

    <p>
        I am a back-end software engineer & architect, "maker", coming from a full-stack background, excited about technical innovation,
        challenges and solving problems.
    </p>
    <p>
        I find motivation in <b>learning new things</b> and I  mainly speak Golang, PHP & Javascript. I work on various
        exciting projects involving backend architectures, microservices, machine learning and natural language processing.
    </p>
    <p>
        Oh, and I currently live in London <img style="width: 20px;" src="https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg" alt="flag-uk" />
    </p>

    <h2>What I do now</h2>
    <p>
        <ul>
            <li>Working at Avanti Communications as a <b>lead developer</b> - mainly using PHP & VueJS</li>
            <li>Learning ML and applying it to various work / personal projects</li>
            <li>Learning Golang for a few years and using it for various work / personal projects</li>
            <li>Learning and playing with VueJS</li>
            <li>Managing my partner's e-commerce store: <a href="https://amary-nature.fr">Amary Nature</a></li>
        </ul>
    </p>

    <p>
        Want to know more? Contact me on {% include icon-linkedin.html username=site.linkedin_username %}
    </p>
</div>
